div.grid-example {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

div.grid-example div div{
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-color: white;
  background: #333;
  color: #fff;
}

div.button-examples {
  margin-top: 50px;
}

.btn-joes-color {
  background-color: #FF00FF;
}

.btn-joes-color:hover {
  background-color: #FA58F4;
}
